@charset "ISO-8859-1";

body {
	background-color: lightgray;
	margin: 0;
}


/*SignUp.jsp design and functions*/
.signUpContainer, .loginContainer, .resetCheckContainer {
	
	display: flex;
	justify-content: center;
	min-height: 90vh;
	align-items: center;
	
}

.signUpContent, .loginContent, .resetCheckContent {
	background: #fff;
	border-radius: 7px;
	overflow: hidden;
	flex: 0 0 60%;
	box-shadow: 0 0 10px black;

}

#signUpHeader, #loginHeader {
	
	margin: 0px 0px 20px 0px;
	background: #d3d3d3;
	width: 100%;
}

#signUpFormContent, #loginFormContent, #resetCheckForm {
	padding: 0px 30px;
	font-weight: 400;
	font: 20px Arial, sans-serif;
}

#signUpSubmitBtn, #loginBtn, #resetCheckBtn {
	background: #d89156;
	color: #fff;
	font: 20px Arial, sans-serif;
	border: none;
	padding: 0.25rem 0.5rem;
	border-radius: 7px;
	cursor: pointer;
	margin: 8px 2px;
}
#signUpSubmitBtn:hover, #loginBtn:hover, #resetCheckBtn:hover {
	color: #ffd000;
	box-shadow: 0 0 2px black;
	margin: 8px 2px;
	text-decoration: none;
}

#inputBoxContainer{
	padding: 10px;	
	
}
/*Area code input of signUp.jsp*/
#areaCodeInput{
	width: 10%;
}


#homeLink {
	font-size: 30px;
	text-align: center;
	margin: auto;
	padding: 100px;
}



input[type=text], input[type=password] {
	box-sizing: border-box;
	padding: 6px 10px;
	border-radius: 4px;
	outline: none;
	margin-left: 20px;
}

input[type=text]:focus, input[type=password]:focus {
	border: 3px solid red;
}


/* Controls the error box that appears when submitted response is invalid*/
.errorBox {
	background-color: red;
	display: inline-block;
	border-radius: 2px;
	font: 20px Arial, sans-serif;
	
	width: 100%;
	text-align: center;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: orange;
	width: 100%;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

li a:hover {
	background-color: #111;
}

.header {
	background-color: lightblue;
	padding: 20px;
	font: bold 30px Arial, sans-serif;
}

.header.home {
	background-color: lightblue;
	padding: 20px;
	font: bold 20px Arial, sans-serif;
	text-align: center;
}

.column {
	float: left;
}

.column.side.left {
	width: 15%;
	padding-left: 10px;
	padding-left: 10px;
}

.column.side.right {
	width: 15%;
	padding-left: 20px;
}

.column.middle {
	width: 60%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	background-color: lightblue;
	padding: 10px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	position: fixed;
	text-align: center;
}

.copyright {
	padding: 10px;
	text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button of modal */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}